*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav{
  margin: 20px 15%;
  text-align: center;
}
/*dark-grey
light-grey*/
header nav * {
  display: inline-block;
  margin-left: 7px;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}
.row::before, .row::after{
  content: " ";
  display: table;
}
.row::after{
  clear: both;
}
[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}
.content{
  padding: 4px;
}
.height1{
  height: 350px;
}
.height2{
  height: 700px;
}
.color-grey{
  background-color: darkgrey;
}
.color-light{
  background-color: lightgrey;
}
.col-1{
  width: 8.33333%;
}
.col-2{
  width: 16.6666%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.3333%;
}
.col-5{
  width: 41.666667%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.333%;
}
.col-8{
  width: 66.666667%;
}
.col-9{
  width: 75%;
}
.col-10{
  width: 83.333%;
}
.col-11{
  width: 91.666%;
}
.col-12{
  width: 100%;
}
